---
import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
import Wrapper from "../components/Wrapper.astro";
import H1 from "../components/H1.astro";
import P from "../components/P.astro";
---

<Layout title="Support Circuit Church" description="Donate to help us grow the label and bring in new artists">
	<Page>
		<Wrapper>
			<H1>Support</H1>
			<P>
				We're a small organization that runs on a tiny budget. We love doing it, but it isn't cheap. If you enjoy what
				we are doing, consider <a href="/releases">buying our tapes</a>, <a
					target="_blank"
					href="https://circuit-church.printify.me">merch</a
				> or making a donation using the links below. Proceeds help us fund our cassette label, pay performers and bring
				in new and diverse artists.
			</P>
			<P>
				<a target="_blank" href="https://circuitchurch.bandcamp.com/">Buy Tapes at Bandcamp</a>
			</P>
			<P>
				<a target="_blank" href="https://circuit-church.printify.me">Buy Circuit Church Shirts</a>
			</P>
			<P>
				<a target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=BL4UP8BGNBHZ8">Donate via PayPal</a>
			</P>
			<P>
				<a target="_blank" href="https://venmo.com/code?user_id=3304775152041984477&printed=1">Donate via Venmo</a>
			</P>
			<P>
				<a target="_blank" href="https://cash.app/$circuitchurch?qr=1">Donate via Cash App</a>
			</P>
		</Wrapper>
	</Page>
</Layout>

<style></style>
