---

---

<div class="tape-icon">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.46 61.73"
		><defs
			><style>
				.cls-1 {
					fill: none;
					stroke: #fff;
					stroke-miterlimit: 10;
					stroke-width: 3px;
				}
			</style></defs
		><rect class="cls-1" x="1.5" y="1.5" width="85.46" height="58.73" rx="7.8" ry="7.8"></rect><circle
			class="cls-1"
			cx="26.73"
			cy="30.98"
			r="12.05"></circle><circle class="cls-1" cx="61.73" cy="30.98" r="12.05"></circle><line
			class="cls-1"
			x1="26.73"
			y1="43.03"
			x2="61.73"
			y2="43.03"></line>
		<g class="spindle left-spindle" fill="white">
			<path
				d="m23.05,24.39c.51-.29,1.05-.51,1.62-.68.32-.09.56-.37.56-.71v-2.46c-1.79.26-3.43.96-4.82,2l1.74,1.74c.24.24.6.27.9.11Z"
			></path><path
				d="m20.14,34.66c-.29-.51-.51-1.05-.68-1.62-.09-.32-.37-.56-.71-.56h-2.46c.26,1.79.96,3.43,2,4.82l1.74-1.74c.24-.24.27-.6.11-.9Z"
			></path><path
				d="m19.46,28.92c.16-.57.39-1.12.68-1.62.17-.29.13-.66-.11-.9l-1.74-1.74c-1.04,1.38-1.74,3.03-2,4.82h2.46c.34,0,.62-.23.71-.56Z"
			></path><path
				d="m28.23,20.55v2.46c0,.34.23.62.56.71.57.16,1.12.39,1.62.68.29.17.66.13.9-.11l1.74-1.74c-1.38-1.04-3.03-1.74-4.82-2Z"
			></path><path
				d="m34,33.04c-.16.57-.39,1.12-.68,1.62-.17.29-.13.66.11.9l1.74,1.74c1.04-1.38,1.74-3.03,2-4.82h-2.46c-.34,0-.62.23-.71.56Z"
			></path><path
				d="m33.32,27.3c.29.51.51,1.05.68,1.62.09.32.37.56.71.56h2.46c-.26-1.79-.96-3.43-2-4.82l-1.74,1.74c-.24.24-.27.6-.11.9Z"
			></path><path
				d="m30.41,37.58c-.51.29-1.05.51-1.62.68-.32.09-.56.37-.56.71v2.46c1.79-.26,3.43-.96,4.82-2l-1.74-1.74c-.24-.24-.6-.27-.9-.11Z"
			></path><path
				d="m24.67,38.25c-.57-.16-1.12-.39-1.62-.68-.29-.17-.66-.13-.9.11l-1.74,1.74c1.38,1.04,3.03,1.74,4.82,2v-2.46c0-.34-.23-.62-.56-.71Z"
			></path></g
		>
		<g class="spindle right-spindle" fill="white">
			<path
				d="m58.05,24.39c.51-.29,1.05-.51,1.62-.68.32-.09.56-.37.56-.71v-2.46c-1.79.26-3.43.96-4.82,2l1.74,1.74c.24.24.6.27.9.11Z"
			></path><path
				d="m55.14,34.66c-.29-.51-.51-1.05-.68-1.62-.09-.32-.37-.56-.71-.56h-2.46c.26,1.79.96,3.43,2,4.82l1.74-1.74c.24-.24.27-.6.11-.9Z"
			></path><path
				d="m54.46,28.92c.16-.57.39-1.12.68-1.62.17-.29.13-.66-.11-.9l-1.74-1.74c-1.04,1.38-1.74,3.03-2,4.82h2.46c.34,0,.62-.23.71-.56Z"
			></path><path
				d="m63.23,20.55v2.46c0,.34.23.62.56.71.57.16,1.12.39,1.62.68.29.17.66.13.9-.11l1.74-1.74c-1.38-1.04-3.03-1.74-4.82-2Z"
			></path><path
				d="m69,33.04c-.16.57-.39,1.12-.68,1.62-.17.29-.13.66.11.9l1.74,1.74c1.04-1.38,1.74-3.03,2-4.82h-2.46c-.34,0-.62.23-.71.56Z"
			></path><path
				d="m68.32,27.3c.29.51.51,1.05.68,1.62.09.32.37.56.71.56h2.46c-.26-1.79-.96-3.43-2-4.82l-1.74,1.74c-.24.24-.27.6-.11.9Z"
			></path><path
				d="m65.41,37.58c-.51.29-1.05.51-1.62.68-.32.09-.56.37-.56.71v2.46c1.79-.26,3.43-.96,4.82-2l-1.74-1.74c-.24-.24-.6-.27-.9-.11Z"
			></path><path
				d="m59.67,38.25c-.57-.16-1.12-.39-1.62-.68-.29-.17-.66-.13-.9.11l-1.74,1.74c1.38,1.04,3.03,1.74,4.82,2v-2.46c0-.34-.23-.62-.56-.71Z"
			></path></g
		></svg
	>
</div>
<style>
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.tape-icon {
		background: black;
		width: 3.1em;
		height: 2em;
		border: 1px solid black;
		border-radius: 0.37em;
	}

	.spindle {
		transform: fill-box;
		animation: spin 2s linear infinite;
		animation-play-state: paused;
		transform-box: fill-box;
		transform-origin: center;
	}

	:global(.is-audio-player-playing) .spindle {
		animation-play-state: running;
	}

	@media (prefers-reduced-motion: reduce) {
		:global(.is-audio-player-playing) .spindle {
			animation-play-state: paused;
		}
	}
</style>
