---
interface Props {
	style?: Record<string, any>;
}

const { style } = Astro.props;
---

<div class="wrapper" style={style || ""}>
	<slot />
</div>

<style>
	.wrapper {
		width: 100%;
		padding: 0 2em;
		max-width: 960px;
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;
	}
</style>
